$coral-pink-light: #f5c1b8;
$coral-pink-dark: #f1a296;
$mustard-yellow-light: #f4cf7e;
$mustard-yellow-dark: #e8b765;
$sky-blue-light: #c4eaec;
$sky-blue-dark: #94d6d9;

.btn-coral-pink {
    border-color: $coral-pink-dark !important;
    background-color: $coral-pink-light !important;
}

.btn-mustard-yellow {
    border-color: $mustard-yellow-dark !important;
    background-color: $mustard-yellow-light !important;
}

.btn-sky-blue {
    border-color: $sky-blue-dark !important;
    background-color: $sky-blue-light !important;
}